In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#loaded data
df = pd.read_csv("AirQualityUCI.csv")
df.head()


#removed unwanted attributes
df = df.drop(columns=['PT08.S1(CO)', 'PT08.S2(NMHC)','PT08.S3(NOx)','PT08.S4(NO2)','PT08.S5(O3)','Unnamed: 15','Unnamed: 16','RH','AH'])
#removed NaN
df = df.dropna()
#renamed certain column
df = df.rename(columns={"NMHC(GT)": "Nonmethane Hydrocarbons", "C6H6(GT)": "Benzene", "NOx(GT)": "Nitrogen Oxides", "NO2(GT)": "Nitrogen Dioxide"})



df.to_csv('mile2_data.csv')
df.head()

,Date,Time,CO(GT),Nonmethane Hydrocarbons,Benzene,Nitrogen Oxides,Nitrogen Dioxide,T
0,2004-03-10,18:00:00,2.6,150.0,11.9,166.0,113.0,13.6
1,2004-03-10,19:00:00,2.0,112.0,9.4,103.0,92.0,13.3
2,2004-03-10,20:00:00,2.2,88.0,9.0,131.0,114.0,11.9
3,2004-03-10,21:00:00,2.2,80.0,9.2,172.0,122.0,11.0
4,2004-03-10,22:00:00,1.6,51.0,6.5,131.0,116.0,11.2